@{
    ViewData["Title"] = "Contozoo";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contozoo</h1>
    <p>PLAN YOUR VISIT </p>

    <p>The Contozoo Zoo in Madison, WI is one of only a handful of admission-free, community-supported zoos in the country. 
       Fully accredited by the Association of Zoos and Aquariums, our beautiful zoo features exhibits and attractions for the whole family! 
       The zoo relies on support from the community to remain open and admission-free. If you’d like help, please leave a donation in the donation tubes located throughout the zoo or donate online. 
       All are welcome at the Contozoo Zoo!
   </p>
       
       <p>Hours:</p> 
          <p> Sun: 9am-9pm</p>
          <p> Mon: 9am-9pm</p>
          <p> Tues: Closed</p>
          <p> Wed: 9am-9pm</p>
          <p> Thurs: 9am-9pm</p>
          <p> Fri: 7am-10pm</p>
          <p>Sat: 7am-10pm</p>
 
</div>
