@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Website information</h2>
<p>This site is owned, managed and operated by Contozoo</p>
<p>Contozoo is comitted is committed to fulfilling its responsibilities under the UK General Data Protection Regulation. We are a registered data controller with the Information Commissioner and take appropriate steps to protect your privacy and information.</p>

<p>Our address is:</p>

<p>Belfast City Offices</p>
<p>Belfast</p>
<p>BT1 0000 </p>